<mat-nav-list style="border-radius: 0">
	<a mat-list-item style="border-radius: 0" *appIsInRoles="['admin']" routerLink="/admin/dashboard" routerLinkActive="active-link" (click)="onLinkClick()">
		<mat-icon matListItemIcon>dashboard</mat-icon>
		<span matListItemTitle>Dashboard</span>
	</a>
	<a mat-list-item style="border-radius: 0" routerLink="/media" routerLinkActive="active-link" (click)="onLinkClick()">
		<mat-icon matListItemIcon>movie</mat-icon>
		<span matListItemTitle>Media</span>
	</a>
</mat-nav-list>
