.media-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 16px;
    padding: 16px;
}

.media-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.media-card {
	min-width: 0;
	cursor: pointer;
}
